.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #2d2d2d;  /* Darker track */
    border-radius: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888;    /* Grey handle */
    border-radius: 10px;
    border: 2px solid #2d2d2d;  /* Add some padding */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;  /* Darker on hover */
  }